<a href="https://colab.research.google.com/github/koushal2001/procurement_timeframe/blob/main/BE_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
filepath = '/content/drive/MyDrive/studentproject_arde_DATA.xlsx'
df = pd.read_excel(filepath, sheet_name='Export Worksheet')
df.head()

,SUPPLY_ORDER_NO,SUPPLY_ORDER_DATE,TOTAL_COST,MODE_OF_TENDER_CODE,MODEOFTENDER,PROCUREMENT_MODE_CODE,PROCUREMENT_MODE_DESC,DEMAND_NO,RFP_NO,FINANCIAL_POWER_CODE,...,BUDGET_HEAD_DESCRIPTION_1,PROCUREMENT_MODE_DESC_1,IS_PAC,CONCURRENCE_BY,CONCURRENCE_DATE_1,CONCURRENCE_AMOUNT,CFA,CFA_APPROVAL_REFERENCE,CFA_APPROVAL_DATE,APPROVAL_AMOUNT
0,22SO0001,2021-04-05 16:20:08,119650.23,lp,Through LPC,SO,Supply orders (SO),21CAN114,21SOL310,202001,...,Project Capital,Supply orders (SO),N,NaN,NaT,NaN,Director of Labs/Estt,21CAN114,2021-03-17 11:50:03,119650
1,22GM0001,2021-04-06 00:00:00,209600.00,GM,Procurement Through GeM,GM,Procurement through GeM,21SME033,NaN,202001,...,Project Revenue,Procurement through GeM,N,NaN,NaT,NaN,Director of Labs/Estt,21SME033,2021-04-06 10:32:02,212478
2,22GM0007,2021-04-06 00:00:00,2100.00,GM,Procurement Through GeM,GM,Procurement through GeM,21INT118,NaN,205013,...,Project Revenue,Procurement through GeM,N,NaN,NaT,NaN,Director of Labs/Estt,21INT118,2021-03-30 11:34:47,2200
3,22GM0008,2021-04-06 00:00:00,26800.00,GM,Procurement Through GeM,GM,Procurement through GeM,21PNS048,NaN,205008,...,Project Revenue,Procurement through GeM,N,IFA,2021-01-13,26800.0,Director of Labs/Estt,21PNS048,2021-04-06 15:25:48,26800
4,22GM0002,2021-04-06 00:00:00,7978.00,GM,Procurement Through GeM,GM,Procurement through GeM,21CAA077,NaN,202002,...,General Revenue,Procurement through GeM,N,NaN,NaT,NaN,Director of Labs/Estt,21CAA077,2021-04-06 11:35:47,7978

In [ ]:
cols = df.columns.tolist()
cols

['SUPPLY_ORDER_NO',
 'SUPPLY_ORDER_DATE',
 'TOTAL_COST',
 'MODE_OF_TENDER_CODE',
 'MODEOFTENDER',
 'PROCUREMENT_MODE_CODE',
 'PROCUREMENT_MODE_DESC',
 'DEMAND_NO',
 'RFP_NO',
 'FINANCIAL_POWER_CODE',
 'FINANCIAL_POWER_SERIAL_NO',
 'CFA_CODE',
 'CFA_DESCRIPTION',
 'SANCTION_DATE',
 'CONCURRENCE_LEVEL_CODE',
 'CONCURRED_BY',
 'UO_NO',
 'CONCURRENCE_DATE',
 'GEM_CONTRACT_NO',
 'GEM_CONTRACT_DATE',
 'BUDGET_HEAD_CODE',
 'BUDGET_HEAD_DESCRIPTION',
 'AGAINST_SANCTION_NO',
 'MAJOR_HEAD',
 'SUB_MAJOR_HEAD',
 'MINOR_HEAD',
 'HEAD_CODE',
 'UNITCODE',
 'UNITCODE_DESCRIPTION',
 'RECEIPT_DETAILS',
 'DEMAND_NO_1',
 'DEMAND_DATE',
 'ESTIMATED_COST',
 'DIVISION_NO',
 'DIVISION_NAME',
 'FIN_POWER',
 'FIN_POWER_DEMAND_FS',
 'METHOD_OF_PURCHASE',
 'BUDGET_HEAD_DESCRIPTION_1',
 'PROCUREMENT_MODE_DESC_1',
 'IS_PAC',
 'CONCURRENCE_BY',
 'CONCURRENCE_DATE_1',
 'CONCURRENCE_AMOUNT',
 'CFA',
 'CFA_APPROVAL_REFERENCE',
 'CFA_APPROVAL_DATE',
 'APPROVAL_AMOUNT']

In [ ]:
date_cols = ['SUPPLY_ORDER_DATE', 'SANCTION_DATE', 'SANCTION_DATE', 'CONCURRENCE_DATE', 'GEM_CONTRACT_DATE', 'DEMAND_DATE', 'DEMAND_DATE', 'CONCURRENCE_DATE_1', 'CFA_APPROVAL_DATE']
for col in date_cols:
  pd.to_datetime(df[col])

In [ ]:
df['TOTAL_DAYS'] = (df['SUPPLY_ORDER_DATE'] - df['DEMAND_DATE']).dt.days

In [ ]:
df['TOTAL_DAYS']

0        33
1        39
2        19
3        17
4        13
       ...
1169      9
1170    152
1171     20
1172     20
1173      9
Name: TOTAL_DAYS, Length: 1174, dtype: int64

In [ ]:
def range_encoding(df, source_col_name, dest_col_name, ranges, encoding):
  ranges_result = []
  for val in df[source_col_name]:
    flag = False
    for i in range(len(encoding) - 1):
      if ranges[i][0] <= val <= ranges[i][1]:
        ranges_result.append(encoding[i])
        flag = True
        break
    if not flag:
      ranges_result.append(encoding[len(encoding) - 1])

  df[dest_col_name] = ranges_result
  return df

In [ ]:
df['ESTIMATED_COST']

0       119650
1       212478
2         2200
3        26800
4         7978
         ...
1169    144000
1170     90771
1171    195750
1172    221400
1173    192000
Name: ESTIMATED_COST, Length: 1174, dtype: int64

In [ ]:
day_ranges = [(0, 60), (61, 90), (91, 120), (121, 150), (151, 180)]
day_ranges_encoding = ['0 - 60', '60 - 90', '90 - 120', '120 - 150', '150 - 180', '> 180']

df = range_encoding(df, 'TOTAL_DAYS', 'TOTAL_DAYS_RANGES', day_ranges, day_ranges_encoding)

In [ ]:
cost_ranges = [(0, 1000000), (1000001, 2500000), (2500001, 5000000), (5000001, 10000000), (10000001, 50000000), (50000001, 100000000)]
cost_ranges_endcoding = ['0 - 10L', '10L - 25L', '25L - 50L', '50L - 1CR', '1CR - 5CR', '5CR - 10CR', '> 10CR']

df = range_encoding(df, 'ESTIMATED_COST', 'EST_COST_RANGE', cost_ranges, cost_ranges_endcoding)

In [ ]:
print(df.TOTAL_DAYS_RANGES.value_counts())

0 - 60       777
60 - 90      218
90 - 120      65
120 - 150     46
> 180         45
150 - 180     23
Name: TOTAL_DAYS_RANGES, dtype: int64

In [ ]:
print(df.EST_COST_RANGE.value_counts())

0 - 10L       1036
25L - 50L       53
10L - 25L       46
1CR - 5CR       18
50L - 1CR       17
5CR - 10CR       3
> 10CR           1
Name: EST_COST_RANGE, dtype: int64

In [ ]:
df['EST_COST_RANGE'].tail(15)

1159      0 - 10L
1160    1CR - 5CR
1161    1CR - 5CR
1162      0 - 10L
1163      0 - 10L
1164      0 - 10L
1165       > 10CR
1166      0 - 10L
1167      0 - 10L
1168      0 - 10L
1169      0 - 10L
1170      0 - 10L
1171      0 - 10L
1172      0 - 10L
1173      0 - 10L
Name: EST_COST_RANGE, dtype: object

In [ ]:
df = df.replace({'IS_PAC': {'N': False, 'Y': True}})

In [ ]:
df = df.replace({'CONCURRENCE_BY': {np.nan: None}})

In [ ]:
# required_cols = ["ESTIMATED_COST", "EST_COST_RANGE", "MODEOFTENDER", "METHOD_OF_PURCHASE", "FINANCIAL_POWER_CODE", "CFA_CODE", "CONCURRENCE_BY", "BUDGET_HEAD_CODE", "IS_PAC", "TOTAL_DAYS_RANGES"]
required_cols = ["EST_COST_RANGE", "MODEOFTENDER", "METHOD_OF_PURCHASE", "FINANCIAL_POWER_CODE", "CFA_CODE", "CONCURRENCE_BY", "BUDGET_HEAD_CODE", "IS_PAC", "TOTAL_DAYS_RANGES"]

In [ ]:
new_df = df[required_cols]

In [ ]:
new_df

,EST_COST_RANGE,MODEOFTENDER,METHOD_OF_PURCHASE,FINANCIAL_POWER_CODE,CFA_CODE,CONCURRENCE_BY,BUDGET_HEAD_CODE,IS_PAC,TOTAL_DAYS_RANGES
0,0 - 10L,Through LPC,Through LPC,202001,DIR,None,PC,False,0 - 60
1,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,DIR,None,PR,False,0 - 60
2,0 - 10L,Procurement Through GeM,Procurement Through GeM,205013,DIR,None,PR,False,0 - 60
3,0 - 10L,Procurement Through GeM,Procurement Through GeM,205008,DIR,IFA,PR,False,0 - 60
4,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,0 - 60
...,...,...,...,...,...,...,...,...,...
1169,0 - 10L,Procurement Through GeM,Procurement Through GeM,205015,DIR,None,SP,False,0 - 60
1170,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,150 - 180
1171,0 - 10L,Procurement Through GeM,Procurement Through GeM,205008,DIR,IFA,PC,False,0 - 60
1172,0 - 10L,Procurement Through GeM,Procurement Through GeM,205015,DIR,IFA,PC,False,0 - 60
1173,0 - 10L,Procurement Through GeM,Procurement Through GeM,205015,DIR,None,SP,False,0 - 60

In [ ]:
temp = pd.get_dummies(new_df)

In [ ]:
new_df = temp

In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
from apyori import apriori

In [ ]:
# records = []
# for i in range(0, 30):
#     records.append([str(new_df.values[i,u]) for u in range(0, 53)])

In [ ]:
# len(records)

In [ ]:
# rules = apriori(records, min_support=0.0022, min_confidence=0.20, min_lift=3, min_length = 4)

In [ ]:
# rules

In [ ]:
# # Store rules in result variable
# results = list(rules)
# # See the items that were bought together with their support
# results_list = []
# for i in range(0, len(results)):
#     results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [ ]:
# print(len(results_list))

In [ ]:
records = []
for i in range(0, 1174):
    records.append([str(new_df.values[i,u]) for u in range(0, 9)])

rules = apriori(records, min_support=0.14, min_confidence=0.70, min_lift=3, min_length = 5)

results = list(rules)

results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
print(len(results_list))

# for item in results_list:

#     # first index of the inner list
#     # Contains base item and add item
#     pair = item[0] 
#     items = [x for x in pair]
#     print("Rule: " + items[0] + " -> " + items[1])

#     #second index of the inner list
#     print("Support: " + str(item[1]))

#     #third index of the list located at 0th
#     #of the third index of the inner list

#     print("Confidence: " + str(item[2][0][2]))
#     print("Lift: " + str(item[2][0][3]))
#     print("=====================================")
results_list

0

[]

In [ ]:
temp = df.loc[df['TOTAL_DAYS_RANGES'] == '150 - 180']
temp

,SUPPLY_ORDER_NO,SUPPLY_ORDER_DATE,TOTAL_COST,MODE_OF_TENDER_CODE,MODEOFTENDER,PROCUREMENT_MODE_CODE,PROCUREMENT_MODE_DESC,DEMAND_NO,RFP_NO,FINANCIAL_POWER_CODE,...,CONCURRENCE_BY,CONCURRENCE_DATE_1,CONCURRENCE_AMOUNT,CFA,CFA_APPROVAL_REFERENCE,CFA_APPROVAL_DATE,APPROVAL_AMOUNT,TOTAL_DAYS,TOTAL_DAYS_RANGES,EST_COST_RANGE
38,22GM0028,2021-04-28 11:46:41,2971796.28,GM,Procurement Through GeM,GM,Procurement through GeM,21SCY026,22GMT008,205003,...,IFA,2021-04-15 00:00:00,2448143.0,Director of Labs/Estt,21SCY026,2021-04-27 12:53:51,2448143,154,150 - 180,10L - 25L
53,22FC0003,2021-05-03 16:14:01,3496500.00,op,Open,FC,Fabrication Order,21WHP046,21FCT058,202004,...,None,NaT,NaN,Director of Labs/Estt,21WHP046,2020-12-15 00:00:00,4725000,158,150 - 180,25L - 50L
99,22AT0011,2021-05-21 16:09:33,8783250.00,lm,Limited,AT,Supply Order (AT),21CAN052,21ATT101,202008,...,None,NaT,NaN,Director of Labs/Estt,21CAN052,2021-01-20 10:39:16,9481500,170,150 - 180,50L - 1CR
114,22AM0003,2021-05-31 14:26:06,130980.00,st,Single Tender,AM,Annual Maint.cont,21TCD015,21AMT021,202016,...,None,NaT,NaN,Director of Labs/Estt,21TCD015,2021-01-20 10:36:15,130980,172,150 - 180,0 - 10L
127,22GM0064,2021-06-02 00:00:00,217500.00,GM,Procurement Through GeM,GM,Procurement through GeM,21PMU088,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,21PMU088,2021-03-02 16:17:32,194765,180,150 - 180,0 - 10L
226,22AT0026,2021-06-29 10:22:12,66074052.00,lm,Limited,AT,Supply Order (AT),21SCY030,22ATT003,205003,...,IFA,2021-04-16 12:05:21,68526787.0,DG Cluster,21SCY030,2021-04-16 14:45:02,68526787,159,150 - 180,5CR - 10CR
231,22SO0067,2021-06-30 14:33:44,227850.00,lp,Through LPC,SO,Supply orders (SO),21CAL030,22SOL056,202014,...,None,NaT,NaN,Director of Labs/Estt,21CAL030,2021-06-04 12:00:25,227850,159,150 - 180,0 - 10L
235,22AT0028,2021-06-30 14:49:24,4656201.58,op,Open,AT,Supply Order (AT),21TED074,21ATT135,202012,...,None,NaT,NaN,Director of Labs/Estt,21TED074,2021-03-18 18:37:24,4577413,168,150 - 180,25L - 50L
254,22DC0004,2021-07-05 11:13:11,3687137.00,lm,Limited,DC,Development contract,21ANC061,21DCT028,202008,...,None,NaT,NaN,Director of Labs/Estt,21ANC061,2021-02-08 14:57:25,6165000,156,150 - 180,50L - 1CR
255,22AT0030,2021-07-05 12:03:18,3204106.11,st,Single Tender,AT,Supply Order (AT),21CAA055,21ATT126,202001,...,None,NaT,NaN,Director of Labs/Estt,21CAA055,2021-02-01 16:37:00,3000000,172,150 - 180,25L - 50L
361,22GM0181,2021-07-29 00:00:00,280000.00,GM,Procurement Through GeM,GM,Procurement through GeM,21CNS015,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,21CNS015,2021-02-18 17:30:38,288246,175,150 - 180,0 - 10L
507,22FC0030,2021-09-16 16:26:09,1831200.00,lm,Limited,FC,Fabrication Order,22CAA005,22FCT012,202001,...,None,NaT,NaN,Director of Labs/Estt,22CAA005,2021-06-01 14:31:00,1936200,153,150 - 180,10L - 25L
514,22FC0032,2021-09-20 12:09:42,1648500.00,lm,Limited,FC,Fabrication Order,22CAA006,22FCT013,202008,...,None,NaT,NaN,Director of Labs/Estt,22CAA006,2021-06-01 14:28:05,2364600,156,150 - 180,10L - 25L
539,22AT0048,2021-09-24 14:49:13,642600.00,lm,Limited,AT,Supply Order (AT),22TED001,22ATT037,202002,...,None,NaT,NaN,Director of Labs/Estt,22TED001,2021-05-19 15:58:55,711186,160,150 - 180,0 - 10L
615,22AT0056,2021-10-25 10:46:38,643576.50,lm,Limited,AT,Supply Order (AT),22CAN013,22ATT048,202008,...,None,NaT,NaN,Director of Labs/Estt,22CAN013,2021-07-22 16:35:26,973500,165,150 - 180,0 - 10L
672,22AT0057,2021-11-09 15:00:56,4410000.00,lm,Limited,AT,Supply Order (AT),22FZS011,22ATT033,202008,...,None,NaT,NaN,Director of Labs/Estt,22FZS011,2021-07-20 11:09:11,5546000,161,150 - 180,50L - 1CR
689,22AT0058,2021-11-12 16:03:27,874125.00,lm,Limited,AT,Supply Order (AT),22PZT003,22ATT055,202008,...,None,NaT,NaN,Director of Labs/Estt,22PZT003,2021-06-22 15:04:15,983241,179,150 - 180,0 - 10L
815,22SO0283,2021-12-22 10:21:38,604947.00,op,Open,SO,Supply orders (SO),22ICV020,22SOT215,202004,...,None,NaT,NaN,Director of Labs/Estt,22ICV020,2021-09-23 16:51:23,952850,152,150 - 180,0 - 10L
852,22GM0395,2022-01-07 00:00:00,94636.00,GM,Procurement Through GeM,GM,Procurement through GeM,22QAS004,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,22QAS004,2021-09-08 12:27:48,66000,153,150 - 180,0 - 10L
854,22GM0396,2022-01-07 12:04:42,2191826.00,GM,Procurement Through GeM,GM,Procurement through GeM,22QAS003,22GMT080,202012,...,None,NaT,NaN,Director of Labs/Estt,22QAS003,2021-09-08 12:56:30,1593000,177,150 - 180,10L - 25L
864,22GM0403,2022-01-13 00:00:00,5491840.00,GM,Procurement Through GeM,GM,Procurement through GeM,22FIR007,22GMT082,205003,...,IFA,2022-01-13 11:23:29,5310384.0,Director of Labs/Estt,22FIR007,2022-01-13 11:20:33,5310384,173,150 - 180,1CR - 5CR
932,22FC0054,2022-02-07 10:49:46,525000.00,op,Open,FC,Fabrication Order,22BMF015,22FCT039,202004,...,None,NaT,NaN,Director of Labs/Estt,22BMF015,2021-09-01 12:14:52,2006000,180,150 - 180,10L - 25L
1170,22GM0545,2022-03-31 00:00:00,90680.00,GM,Procurement Through GeM,GM,Procurement through GeM,22BLS004,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,22BLS004,2022-01-04 16:37:04,90771,152,150 - 180,0 - 10L