In [1]:
import numpy as np
import pandas as pd

# Permanent Data Merging - **Do not change**

In [ ]:
%%script false --no-raise-error
ds_inital = 'https://github.com/koushal2001/procurement_timeframe/blob/main/studentproject_arde_DATA.xlsx?raw=true'
ds_asl = 'https://github.com/koushal2001/procurement_timeframe/blob/main/ASL_Data_2021-22.xlsx?raw=true'
ds_drdl = 'https://github.com/koushal2001/procurement_timeframe/blob/main/DRDL_Data_2021-22.xlsx?raw=true'
ds_hemrl = 'https://github.com/koushal2001/procurement_timeframe/blob/main/HEMRL_Data_2021-22.xlsx?raw=true'
ds_rci = 'https://github.com/koushal2001/procurement_timeframe/blob/main/RCI_Data_2021-22.xlsx?raw=true'

In [ ]:
%%script false --no-raise-error
df_initial = pd.read_excel(ds_inital, sheet_name='Export Worksheet')
df_asl = pd.read_excel(ds_asl, sheet_name='ASL_Data_2021-22')
df_drdl = pd.read_excel(ds_drdl, sheet_name='DRDL_Data_2021-22')
df_hemrl = pd.read_excel(ds_hemrl, sheet_name='HEMRL_Data_2021-22')
df_rci = pd.read_excel(ds_rci, sheet_name='RCI_Data_2021-22')

/usr/local/lib/python3.8/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [ ]:
%%script false --no-raise-error
df_asl = df_asl.drop(df_asl.columns.difference(df_initial.columns).to_list(), axis=1)
df_drdl = df_drdl.drop(df_drdl.columns.difference(df_initial.columns).to_list(), axis=1)
df_hemrl = df_hemrl.drop(df_hemrl.columns.difference(df_initial.columns).to_list(), axis=1)
df_rci = df_rci.drop(df_rci.columns.difference(df_initial.columns).to_list(), axis=1)
df = pd.concat([df_initial, df_asl, df_drdl, df_hemrl, df_rci])

In [ ]:
%%script false --no-raise-error
df.to_excel('dataset.xlsx', index=False)

# Continued

In [2]:
filepath = 'https://github.com/koushal2001/procurement_timeframe/blob/main/dataset.xlsx?raw=true'
# filepath = '/content/drive/MyDrive/studentproject_arde_DATA.xlsx'
df = pd.read_excel(filepath, sheet_name='Sheet1')
df.head()

,SUPPLY_ORDER_NO,SUPPLY_ORDER_DATE,TOTAL_COST,MODE_OF_TENDER_CODE,MODEOFTENDER,PROCUREMENT_MODE_CODE,PROCUREMENT_MODE_DESC,DEMAND_NO,RFP_NO,FINANCIAL_POWER_CODE,...,BUDGET_HEAD_DESCRIPTION_1,PROCUREMENT_MODE_DESC_1,IS_PAC,CONCURRENCE_BY,CONCURRENCE_DATE_1,CONCURRENCE_AMOUNT,CFA,CFA_APPROVAL_REFERENCE,CFA_APPROVAL_DATE,APPROVAL_AMOUNT
0,22SO0001,2021-04-05 16:20:08,119650.23,lp,Through LPC,SO,Supply orders (SO),21CAN114,21SOL310,202001,...,Project Capital,Supply orders (SO),N,NaN,NaN,NaN,Director of Labs/Estt,21CAN114,2021-03-17 11:50:03,119650
1,22GM0001,2021-04-06 00:00:00,209600.00,GM,Procurement Through GeM,GM,Procurement through GeM,21SME033,NaN,202001,...,Project Revenue,Procurement through GeM,N,NaN,NaN,NaN,Director of Labs/Estt,21SME033,2021-04-06 10:32:02,212478
2,22GM0007,2021-04-06 00:00:00,2100.00,GM,Procurement Through GeM,GM,Procurement through GeM,21INT118,NaN,205013,...,Project Revenue,Procurement through GeM,N,NaN,NaN,NaN,Director of Labs/Estt,21INT118,2021-03-30 11:34:47,2200
3,22GM0008,2021-04-06 00:00:00,26800.00,GM,Procurement Through GeM,GM,Procurement through GeM,21PNS048,NaN,205008,...,Project Revenue,Procurement through GeM,N,IFA,2021-01-13 00:00:00,26800.0,Director of Labs/Estt,21PNS048,2021-04-06 15:25:48,26800
4,22GM0002,2021-04-06 00:00:00,7978.00,GM,Procurement Through GeM,GM,Procurement through GeM,21CAA077,NaN,202002,...,General Revenue,Procurement through GeM,N,NaN,NaN,NaN,Director of Labs/Estt,21CAA077,2021-04-06 11:35:47,7978

In [3]:
cols = df.columns.tolist()
cols

['SUPPLY_ORDER_NO',
 'SUPPLY_ORDER_DATE',
 'TOTAL_COST',
 'MODE_OF_TENDER_CODE',
 'MODEOFTENDER',
 'PROCUREMENT_MODE_CODE',
 'PROCUREMENT_MODE_DESC',
 'DEMAND_NO',
 'RFP_NO',
 'FINANCIAL_POWER_CODE',
 'FINANCIAL_POWER_SERIAL_NO',
 'CFA_CODE',
 'CFA_DESCRIPTION',
 'SANCTION_DATE',
 'CONCURRENCE_LEVEL_CODE',
 'CONCURRED_BY',
 'UO_NO',
 'CONCURRENCE_DATE',
 'GEM_CONTRACT_NO',
 'GEM_CONTRACT_DATE',
 'BUDGET_HEAD_CODE',
 'BUDGET_HEAD_DESCRIPTION',
 'AGAINST_SANCTION_NO',
 'MAJOR_HEAD',
 'SUB_MAJOR_HEAD',
 'MINOR_HEAD',
 'HEAD_CODE',
 'UNITCODE',
 'UNITCODE_DESCRIPTION',
 'RECEIPT_DETAILS',
 'DEMAND_NO_1',
 'DEMAND_DATE',
 'ESTIMATED_COST',
 'DIVISION_NO',
 'DIVISION_NAME',
 'FIN_POWER',
 'FIN_POWER_DEMAND_FS',
 'METHOD_OF_PURCHASE',
 'BUDGET_HEAD_DESCRIPTION_1',
 'PROCUREMENT_MODE_DESC_1',
 'IS_PAC',
 'CONCURRENCE_BY',
 'CONCURRENCE_DATE_1',
 'CONCURRENCE_AMOUNT',
 'CFA',
 'CFA_APPROVAL_REFERENCE',
 'CFA_APPROVAL_DATE',
 'APPROVAL_AMOUNT']

In [4]:
df.isnull().sum()

SUPPLY_ORDER_NO                 0
SUPPLY_ORDER_DATE               0
TOTAL_COST                      0
MODE_OF_TENDER_CODE             0
MODEOFTENDER                    0
PROCUREMENT_MODE_CODE           0
PROCUREMENT_MODE_DESC           0
DEMAND_NO                       0
RFP_NO                       1422
FINANCIAL_POWER_CODE            0
FINANCIAL_POWER_SERIAL_NO       0
CFA_CODE                      100
CFA_DESCRIPTION               100
SANCTION_DATE                 100
CONCURRENCE_LEVEL_CODE       3996
CONCURRED_BY                 3996
UO_NO                        3996
CONCURRENCE_DATE             3996
GEM_CONTRACT_NO              2279
GEM_CONTRACT_DATE            2279
BUDGET_HEAD_CODE                0
BUDGET_HEAD_DESCRIPTION         0
AGAINST_SANCTION_NO          2056
MAJOR_HEAD                      0
SUB_MAJOR_HEAD               4152
MINOR_HEAD                      0
HEAD_CODE                       0
UNITCODE                        0
UNITCODE_DESCRIPTION            0
RECEIPT_DETAILS              4152
DEMAND_NO_1                     0
DEMAND_DATE                     0
ESTIMATED_COST                  0
DIVISION_NO                     0
DIVISION_NAME                   0
FIN_POWER                       4
FIN_POWER_DEMAND_FS          2884
METHOD_OF_PURCHASE              0
BUDGET_HEAD_DESCRIPTION_1       0
PROCUREMENT_MODE_DESC_1         0
IS_PAC                          0
CONCURRENCE_BY               3876
CONCURRENCE_DATE_1           3876
CONCURRENCE_AMOUNT           3876
CFA                             0
CFA_APPROVAL_REFERENCE          0
CFA_APPROVAL_DATE               0
APPROVAL_AMOUNT                 0
dtype: int64

In [5]:
date_cols = ['SUPPLY_ORDER_DATE', 'SANCTION_DATE', 'CONCURRENCE_DATE', 'GEM_CONTRACT_DATE', 'DEMAND_DATE', 'CONCURRENCE_DATE_1', 'CFA_APPROVAL_DATE']
for col in date_cols:
  df[col] = pd.to_datetime(df[col])

In [6]:
df['TOTAL_DAYS'] = (df['SUPPLY_ORDER_DATE'] - df['DEMAND_DATE']).dt.days

In [7]:

df['TOTAL_DAYS']

0        33
1        39
2        19
3        17
4        13
       ...
4147    186
4148    139
4149     98
4150    157
4151    160
Name: TOTAL_DAYS, Length: 4152, dtype: int64

In [8]:
def range_encoding(df, source_col_name, dest_col_name, ranges, encoding):
  ranges_result = []
  for val in df[source_col_name]:
    flag = False
    for i in range(len(encoding) - 1):
      if ranges[i][0] <= val <= ranges[i][1]:
        ranges_result.append(encoding[i])
        flag = True
        break
    if not flag:
      ranges_result.append(encoding[len(encoding) - 1])

  df[dest_col_name] = ranges_result
  return df

In [9]:
df['ESTIMATED_COST']

0       119650
1       212478
2         2200
3        26800
4         7978
         ...
4147    799998
4148    142480
4149    497252
4150     61999
4151     68500
Name: ESTIMATED_COST, Length: 4152, dtype: int64

In [10]:
day_ranges = [(0, 60), (61, 90), (91, 120), (121, 150), (151, 180)]
day_ranges_encoding = ['0 - 60', '60 - 90', '90 - 120', '120 - 150', '150 - 180', '> 180']

df = range_encoding(df, 'TOTAL_DAYS', 'TOTAL_DAYS_RANGES', day_ranges, day_ranges_encoding)

In [11]:
cost_ranges = [(0, 1000000), (1000001, 2500000), (2500001, 5000000), (5000001, 10000000), (10000001, 50000000), (50000001, 100000000)]
cost_ranges_endcoding = ['0 - 10L', '10L - 25L', '25L - 50L', '50L - 1CR', '1CR - 5CR', '5CR - 10CR', '> 10CR']

df = range_encoding(df, 'ESTIMATED_COST', 'EST_COST_RANGE', cost_ranges, cost_ranges_endcoding)

In [12]:
print(df.TOTAL_DAYS_RANGES.value_counts())

0 - 60       1703
60 - 90       797
90 - 120      528
> 180         469
120 - 150     397
150 - 180     258
Name: TOTAL_DAYS_RANGES, dtype: int64

In [13]:
print(df.EST_COST_RANGE.value_counts())

0 - 10L       3579
25L - 50L      198
10L - 25L      185
50L - 1CR       86
1CR - 5CR       79
> 10CR          13
5CR - 10CR      12
Name: EST_COST_RANGE, dtype: int64

In [14]:
df['EST_COST_RANGE'].tail(15)

4137    25L - 50L
4138      0 - 10L
4139      0 - 10L
4140      0 - 10L
4141      0 - 10L
4142      0 - 10L
4143      0 - 10L
4144      0 - 10L
4145      0 - 10L
4146    10L - 25L
4147      0 - 10L
4148      0 - 10L
4149      0 - 10L
4150      0 - 10L
4151      0 - 10L
Name: EST_COST_RANGE, dtype: object

In [15]:
df = df.replace({'IS_PAC': {'N': False, 'Y': True}})

In [16]:
df = df.replace({'CONCURRENCE_BY': {np.nan: None}})

In [17]:
# required_cols = ["ESTIMATED_COST", "EST_COST_RANGE", "MODEOFTENDER", "METHOD_OF_PURCHASE", "FINANCIAL_POWER_CODE", "CFA_CODE", "CONCURRENCE_BY", "BUDGET_HEAD_CODE", "IS_PAC", "TOTAL_DAYS_RANGES"]
required_cols = ["EST_COST_RANGE", "MODEOFTENDER", "METHOD_OF_PURCHASE", "FINANCIAL_POWER_CODE", "CFA_CODE", "CONCURRENCE_BY", "BUDGET_HEAD_CODE", "IS_PAC", "TOTAL_DAYS_RANGES"]

In [36]:
new_df = df[required_cols]

In [37]:
new_df

,EST_COST_RANGE,MODEOFTENDER,METHOD_OF_PURCHASE,FINANCIAL_POWER_CODE,CFA_CODE,CONCURRENCE_BY,BUDGET_HEAD_CODE,IS_PAC,TOTAL_DAYS_RANGES
0,0 - 10L,Through LPC,Through LPC,202001,DIR,None,PC,False,0 - 60
1,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,DIR,None,PR,False,0 - 60
2,0 - 10L,Procurement Through GeM,Procurement Through GeM,205013,DIR,None,PR,False,0 - 60
3,0 - 10L,Procurement Through GeM,Procurement Through GeM,205008,DIR,IFA,PR,False,0 - 60
4,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,0 - 60
...,...,...,...,...,...,...,...,...,...
4147,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,> 180
4148,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,120 - 150
4149,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,90 - 120
4150,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,PDC,None,PC,False,150 - 180
4151,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,PDC,None,PC,False,150 - 180

In [20]:
new_df = temp

NameError: ignored

In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=c60374205ac9e156dc9a020c4da300aba03e69971fb861d6a11190a46b03e345
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
from apyori import apriori

In [ ]:
new_df1 = []
for index, row in new_df.iterrows():
  if row['TOTAL_DAYS_RANGES'] == '120 - 150' or row['TOTAL_DAYS_RANGES'] == '150 - 180' or row['TOTAL_DAYS_RANGES'] == '> 180':
    new_df1.append(row)
new_df1 = pd.DataFrame(new_df1)
new_df1

,EST_COST_RANGE,MODEOFTENDER,METHOD_OF_PURCHASE,FINANCIAL_POWER_CODE,CFA_CODE,CONCURRENCE_BY,BUDGET_HEAD_CODE,IS_PAC,TOTAL_DAYS_RANGES
35,0 - 10L,Limited,Limited,202014,DIR,None,GN,False,120 - 150
38,10L - 25L,Procurement Through GeM,Procurement Through GeM,205003,DIR,IFA,MS,False,150 - 180
42,10L - 25L,Procurement Through GeM,Procurement Through GeM,202001,DIR,None,PC,False,120 - 150
50,0 - 10L,Single Tender,Single Tender,202016,DIR,None,GN,False,> 180
53,25L - 50L,Open,Open,202004,DIR,None,PR,False,150 - 180
...,...,...,...,...,...,...,...,...,...
1160,1CR - 5CR,Limited,Limited,202008,DIR,IFA,PR,False,> 180
1161,1CR - 5CR,Limited,Limited,202008,DIR,IFA,PR,False,> 180
1165,> 10CR,Open,Open,202005,DGC,IFA,PC,False,> 180
1166,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,DIR,None,PC,False,120 - 150
1170,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,150 - 180

In [ ]:
new_df_1_temp = pd.get_dummies(new_df1)
new_df_1_temp

,FINANCIAL_POWER_CODE,IS_PAC,EST_COST_RANGE_0 - 10L,EST_COST_RANGE_10L - 25L,EST_COST_RANGE_1CR - 5CR,EST_COST_RANGE_25L - 50L,EST_COST_RANGE_50L - 1CR,EST_COST_RANGE_5CR - 10CR,EST_COST_RANGE_> 10CR,MODEOFTENDER_Limited,...,BUDGET_HEAD_CODE_AF,BUDGET_HEAD_CODE_GC,BUDGET_HEAD_CODE_GN,BUDGET_HEAD_CODE_MS,BUDGET_HEAD_CODE_PC,BUDGET_HEAD_CODE_PR,BUDGET_HEAD_CODE_RD,TOTAL_DAYS_RANGES_120 - 150,TOTAL_DAYS_RANGES_150 - 180,TOTAL_DAYS_RANGES_> 180
35,202014,False,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
38,205003,False,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
42,202001,False,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
50,202016,False,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
53,202004,False,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,202008,False,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
1161,202008,False,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
1165,202005,False,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1166,202001,False,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1170,202002,False,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# 0.1,0.6,2,2
records = []
for i in range(0, 114):
    records.append([str(new_df1.values[i,u]) for u in range(0, 9)])

rules = apriori(records, min_support=0.14, min_confidence=0.70, min_lift=3, min_length = 5)

for i in rules:
  print(i)

results = list(rules)

# for i in range(len(results)):
#   y = frozenset(results[i][0].items())
#   x = dict(y)
#   print(x)

results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
print(len(results_list))
for r in results_list:
  print(r)

# records = []
# for i in range(0, 114):
#     records.append([str(new_df_1_temp.values[i,u]) for u in range(0, 34)])

# rules = apriori(records, min_support=0.014, min_confidence=0.07, min_lift=3, min_length = 2)

# results = list(rules)

# results_list = []
# for i in range(0, len(results)):
#     results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
# print(len(results_list))
# for r in results_list:
#   print(r)

RelationRecord(items=frozenset({'Limited', '202008'}), support=0.20175438596491227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008'}), items_add=frozenset({'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714)])
RelationRecord(items=frozenset({'DIR', 'Limited', '202008'}), support=0.20175438596491227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008'}), items_add=frozenset({'DIR', 'Limited'}), confidence=0.9583333333333334, lift=3.213235294117647), OrderedStatistic(items_base=frozenset({'DIR', '202008'}), items_add=frozenset({'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714)])
RelationRecord(items=frozenset({'False', '202008', 'Limited'}), support=0.20175438596491227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008'}), items_add=frozenset({'False', 'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714), OrderedStatistic(items_base=frozenset({'False', '202008'}), items_add=frozenset({'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714)])
RelationRecord(items=frozenset({'Limited', '202008', 'None'}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008', 'None'}), items_add=frozenset({'Limited'}), confidence=1.0, lift=3.257142857142857)])
RelationRecord(items=frozenset({'DIR', 'False', '202008', 'Limited'}), support=0.20175438596491227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008'}), items_add=frozenset({'DIR', 'False', 'Limited'}), confidence=0.9583333333333334, lift=3.213235294117647), OrderedStatistic(items_base=frozenset({'DIR', '202008'}), items_add=frozenset({'False', 'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714), OrderedStatistic(items_base=frozenset({'False', '202008'}), items_add=frozenset({'DIR', 'Limited'}), confidence=0.9583333333333334, lift=3.213235294117647), OrderedStatistic(items_base=frozenset({'DIR', 'False', '202008'}), items_add=frozenset({'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714)])
RelationRecord(items=frozenset({'DIR', 'Limited', '202008', 'None'}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008', 'None'}), items_add=frozenset({'DIR', 'Limited'}), confidence=1.0, lift=3.3529411764705883), OrderedStatistic(items_base=frozenset({'DIR', '202008', 'None'}), items_add=frozenset({'Limited'}), confidence=1.0, lift=3.257142857142857)])
RelationRecord(items=frozenset({'False', '202008', 'None', 'Limited'}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008', 'None'}), items_add=frozenset({'False', 'Limited'}), confidence=1.0, lift=3.257142857142857), OrderedStatistic(items_base=frozenset({'False', '202008', 'None'}), items_add=frozenset({'Limited'}), confidence=1.0, lift=3.257142857142857)])
RelationRecord(items=frozenset({'DIR', '202008', 'None', 'False', 'Limited'}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008', 'None'}), items_add=frozenset({'DIR', 'False', 'Limited'}), confidence=1.0, lift=3.3529411764705883), OrderedStatistic(items_base=frozenset({'DIR', '202008', 'None'}), items_add=frozenset({'False', 'Limited'}), confidence=1.0, lift=3.257142857142857), OrderedStatistic(items_base=frozenset({'False', '202008', 'None'}), items_add=frozenset({'DIR', 'Limited'}), confidence=1.0, lift=3.3529411764705883), OrderedStatistic(items_base=frozenset({'DIR', 'False', '202008', 'None'}), items_add=frozenset({'Limited'}), confidence=1.0, lift=3.257142857142857)])
0

In [ ]:
records = []
for i in range(0, 1174):
    records.append([str(new_df.values[i,u]) for u in range(0, 9)])

rules = apriori(records, min_support=0.14, min_confidence=0.70, min_lift=3, min_length = 5)

results = list(rules)

results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
print(len(results_list))

# for item in results_list:

#     # first index of the inner list
#     # Contains base item and add item
#     pair = item[0] 
#     items = [x for x in pair]
#     print("Rule: " + items[0] + " -> " + items[1])

#     #second index of the inner list
#     print("Support: " + str(item[1]))

#     #third index of the list located at 0th
#     #of the third index of the inner list

#     print("Confidence: " + str(item[2][0][2]))
#     print("Lift: " + str(item[2][0][3]))
#     print("=====================================")
results_list

0

[]

In [ ]:
temp = df.loc[df['TOTAL_DAYS_RANGES'] == '150 - 180']
temp

,SUPPLY_ORDER_NO,SUPPLY_ORDER_DATE,TOTAL_COST,MODE_OF_TENDER_CODE,MODEOFTENDER,PROCUREMENT_MODE_CODE,PROCUREMENT_MODE_DESC,DEMAND_NO,RFP_NO,FINANCIAL_POWER_CODE,...,CONCURRENCE_BY,CONCURRENCE_DATE_1,CONCURRENCE_AMOUNT,CFA,CFA_APPROVAL_REFERENCE,CFA_APPROVAL_DATE,APPROVAL_AMOUNT,TOTAL_DAYS,TOTAL_DAYS_RANGES,EST_COST_RANGE
38,22GM0028,2021-04-28 11:46:41,2971796.28,GM,Procurement Through GeM,GM,Procurement through GeM,21SCY026,22GMT008,205003,...,IFA,2021-04-15 00:00:00,2448143.0,Director of Labs/Estt,21SCY026,2021-04-27 12:53:51,2448143,154,150 - 180,10L - 25L
53,22FC0003,2021-05-03 16:14:01,3496500.00,op,Open,FC,Fabrication Order,21WHP046,21FCT058,202004,...,None,NaT,NaN,Director of Labs/Estt,21WHP046,2020-12-15 00:00:00,4725000,158,150 - 180,25L - 50L
99,22AT0011,2021-05-21 16:09:33,8783250.00,lm,Limited,AT,Supply Order (AT),21CAN052,21ATT101,202008,...,None,NaT,NaN,Director of Labs/Estt,21CAN052,2021-01-20 10:39:16,9481500,170,150 - 180,50L - 1CR
114,22AM0003,2021-05-31 14:26:06,130980.00,st,Single Tender,AM,Annual Maint.cont,21TCD015,21AMT021,202016,...,None,NaT,NaN,Director of Labs/Estt,21TCD015,2021-01-20 10:36:15,130980,172,150 - 180,0 - 10L
127,22GM0064,2021-06-02 00:00:00,217500.00,GM,Procurement Through GeM,GM,Procurement through GeM,21PMU088,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,21PMU088,2021-03-02 16:17:32,194765,180,150 - 180,0 - 10L
226,22AT0026,2021-06-29 10:22:12,66074052.00,lm,Limited,AT,Supply Order (AT),21SCY030,22ATT003,205003,...,IFA,2021-04-16 12:05:21,68526787.0,DG Cluster,21SCY030,2021-04-16 14:45:02,68526787,159,150 - 180,5CR - 10CR
231,22SO0067,2021-06-30 14:33:44,227850.00,lp,Through LPC,SO,Supply orders (SO),21CAL030,22SOL056,202014,...,None,NaT,NaN,Director of Labs/Estt,21CAL030,2021-06-04 12:00:25,227850,159,150 - 180,0 - 10L
235,22AT0028,2021-06-30 14:49:24,4656201.58,op,Open,AT,Supply Order (AT),21TED074,21ATT135,202012,...,None,NaT,NaN,Director of Labs/Estt,21TED074,2021-03-18 18:37:24,4577413,168,150 - 180,25L - 50L
254,22DC0004,2021-07-05 11:13:11,3687137.00,lm,Limited,DC,Development contract,21ANC061,21DCT028,202008,...,None,NaT,NaN,Director of Labs/Estt,21ANC061,2021-02-08 14:57:25,6165000,156,150 - 180,50L - 1CR
255,22AT0030,2021-07-05 12:03:18,3204106.11,st,Single Tender,AT,Supply Order (AT),21CAA055,21ATT126,202001,...,None,NaT,NaN,Director of Labs/Estt,21CAA055,2021-02-01 16:37:00,3000000,172,150 - 180,25L - 50L
361,22GM0181,2021-07-29 00:00:00,280000.00,GM,Procurement Through GeM,GM,Procurement through GeM,21CNS015,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,21CNS015,2021-02-18 17:30:38,288246,175,150 - 180,0 - 10L
507,22FC0030,2021-09-16 16:26:09,1831200.00,lm,Limited,FC,Fabrication Order,22CAA005,22FCT012,202001,...,None,NaT,NaN,Director of Labs/Estt,22CAA005,2021-06-01 14:31:00,1936200,153,150 - 180,10L - 25L
514,22FC0032,2021-09-20 12:09:42,1648500.00,lm,Limited,FC,Fabrication Order,22CAA006,22FCT013,202008,...,None,NaT,NaN,Director of Labs/Estt,22CAA006,2021-06-01 14:28:05,2364600,156,150 - 180,10L - 25L
539,22AT0048,2021-09-24 14:49:13,642600.00,lm,Limited,AT,Supply Order (AT),22TED001,22ATT037,202002,...,None,NaT,NaN,Director of Labs/Estt,22TED001,2021-05-19 15:58:55,711186,160,150 - 180,0 - 10L
615,22AT0056,2021-10-25 10:46:38,643576.50,lm,Limited,AT,Supply Order (AT),22CAN013,22ATT048,202008,...,None,NaT,NaN,Director of Labs/Estt,22CAN013,2021-07-22 16:35:26,973500,165,150 - 180,0 - 10L
672,22AT0057,2021-11-09 15:00:56,4410000.00,lm,Limited,AT,Supply Order (AT),22FZS011,22ATT033,202008,...,None,NaT,NaN,Director of Labs/Estt,22FZS011,2021-07-20 11:09:11,5546000,161,150 - 180,50L - 1CR
689,22AT0058,2021-11-12 16:03:27,874125.00,lm,Limited,AT,Supply Order (AT),22PZT003,22ATT055,202008,...,None,NaT,NaN,Director of Labs/Estt,22PZT003,2021-06-22 15:04:15,983241,179,150 - 180,0 - 10L
815,22SO0283,2021-12-22 10:21:38,604947.00,op,Open,SO,Supply orders (SO),22ICV020,22SOT215,202004,...,None,NaT,NaN,Director of Labs/Estt,22ICV020,2021-09-23 16:51:23,952850,152,150 - 180,0 - 10L
852,22GM0395,2022-01-07 00:00:00,94636.00,GM,Procurement Through GeM,GM,Procurement through GeM,22QAS004,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,22QAS004,2021-09-08 12:27:48,66000,153,150 - 180,0 - 10L
854,22GM0396,2022-01-07 12:04:42,2191826.00,GM,Procurement Through GeM,GM,Procurement through GeM,22QAS003,22GMT080,202012,...,None,NaT,NaN,Director of Labs/Estt,22QAS003,2021-09-08 12:56:30,1593000,177,150 - 180,10L - 25L
864,22GM0403,2022-01-13 00:00:00,5491840.00,GM,Procurement Through GeM,GM,Procurement through GeM,22FIR007,22GMT082,205003,...,IFA,2022-01-13 11:23:29,5310384.0,Director of Labs/Estt,22FIR007,2022-01-13 11:20:33,5310384,173,150 - 180,1CR - 5CR
932,22FC0054,2022-02-07 10:49:46,525000.00,op,Open,FC,Fabrication Order,22BMF015,22FCT039,202004,...,None,NaT,NaN,Director of Labs/Estt,22BMF015,2021-09-01 12:14:52,2006000,180,150 - 180,10L - 25L
1170,22GM0545,2022-03-31 00:00:00,90680.00,GM,Procurement Through GeM,GM,Procurement through GeM,22BLS004,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,22BLS004,2022-01-04 16:37:04,90771,152,150 - 180,0 - 10L

In [35]:
new_df

,EST_COST_RANGE,MODEOFTENDER,METHOD_OF_PURCHASE,FINANCIAL_POWER_CODE,CFA_CODE,CONCURRENCE_BY,BUDGET_HEAD_CODE,IS_PAC
0,0 - 10L,Through LPC,Through LPC,202001,DIR,None,PC,False
1,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,DIR,None,PR,False
2,0 - 10L,Procurement Through GeM,Procurement Through GeM,205013,DIR,None,PR,False
3,0 - 10L,Procurement Through GeM,Procurement Through GeM,205008,DIR,IFA,PR,False
4,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False
...,...,...,...,...,...,...,...,...
4147,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False
4148,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False
4149,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False
4150,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,PDC,None,PC,False
4151,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,PDC,None,PC,False

In [101]:
convert_dict = {'FINANCIAL_POWER_CODE': object,
                }
new_df = new_df.astype(convert_dict)
print(new_df.dtypes)

EST_COST_RANGE          object
MODEOFTENDER            object
METHOD_OF_PURCHASE      object
FINANCIAL_POWER_CODE    object
CFA_CODE                object
CONCURRENCE_BY          object
BUDGET_HEAD_CODE        object
IS_PAC                    bool
TOTAL_DAYS_RANGES       object
dtype: object

In [102]:
from sklearn.ensemble import RandomForestClassifier

In [103]:
x=new_df
x=x.drop('TOTAL_DAYS_RANGES',axis=1)
x = pd.get_dummies(x)
x

,IS_PAC,EST_COST_RANGE_0 - 10L,EST_COST_RANGE_10L - 25L,EST_COST_RANGE_1CR - 5CR,EST_COST_RANGE_25L - 50L,EST_COST_RANGE_50L - 1CR,EST_COST_RANGE_5CR - 10CR,EST_COST_RANGE_> 10CR,MODEOFTENDER_CAPSI,MODEOFTENDER_CARS,...,BUDGET_HEAD_CODE_GC,BUDGET_HEAD_CODE_GN,BUDGET_HEAD_CODE_MS,BUDGET_HEAD_CODE_NY,BUDGET_HEAD_CODE_PC,BUDGET_HEAD_CODE_PG,BUDGET_HEAD_CODE_PR,BUDGET_HEAD_CODE_RD,BUDGET_HEAD_CODE_SM,BUDGET_HEAD_CODE_SP
0,False,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,False,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,False,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,False,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,False,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4147,False,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4148,False,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4149,False,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4150,False,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4151,False,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [104]:
y=new_df['TOTAL_DAYS_RANGES']
y

0          0 - 60
1          0 - 60
2          0 - 60
3          0 - 60
4          0 - 60
          ...
4147        > 180
4148    120 - 150
4149     90 - 120
4150    150 - 180
4151    150 - 180
Name: TOTAL_DAYS_RANGES, Length: 4152, dtype: object

In [145]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
y= label_encoder.fit_transform(y)

In [146]:
x.shape

(4152, 95)

In [147]:
y.shape

(4152,)

In [148]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30)

In [149]:
clf = RandomForestClassifier(n_estimators = 1000)

In [150]:
y_train

array([3, 3, 0, ..., 1, 0, 1])

In [151]:
clf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=1000)

In [152]:
y_pred = clf.predict(x_test)

In [153]:
y_pred

array([0, 0, 0, ..., 0, 4, 5])

In [154]:
from sklearn import metrics
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.4895666131621188

In [155]:
!sudo pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.8/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from xgboost) (1.21.6)

In [156]:
import xgboost
from xgboost import XGBClassifier

In [157]:
model = XGBClassifier()
model = XGBClassifier(n_estimators=1000)

In [158]:
model.fit(x_train, y_train)

XGBClassifier(n_estimators=1000, objective='multi:softprob')

In [159]:
y_pred = model.predict(x_test)

In [160]:
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.5032102728731942

In [163]:

x_train = np.asarray(x_train).astype(np.float32)
x_test = np.asarray(x_test).astype(np.float32)

In [164]:
import tensorflow as tf

In [165]:
import keras

In [182]:
model = keras.Sequential([
    keras.layers.Flatten(input_shape=(95,)),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(20, activation='relu'),
    keras.layers.Dense(10, activation='softmax')
])

In [183]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 flatten_8 (Flatten)         (None, 95)                0

 dense_20 (Dense)            (None, 128)               12288

 dense_21 (Dense)            (None, 64)                8256

 dropout_3 (Dropout)         (None, 64)                0

 dense_22 (Dense)            (None, 20)                1300

 dense_23 (Dense)            (None, 10)                210

=================================================================
Total params: 22,054
Trainable params: 22,054
Non-trainable params: 0
_________________________________________________________________

In [185]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [186]:
history=model.fit(x_train, y_train,validation_data=(x_test,y_test),epochs=50)

Epoch 1/50
91/91 [==============================] - 1s 5ms/step - loss: 1.8221 - accuracy: 0.3802 - val_loss: 1.4402 - val_accuracy: 0.5008
Epoch 2/50
91/91 [==============================] - 0s 3ms/step - loss: 1.4931 - accuracy: 0.4608 - val_loss: 1.3571 - val_accuracy: 0.5032
Epoch 3/50
91/91 [==============================] - 0s 4ms/step - loss: 1.4302 - accuracy: 0.4663 - val_loss: 1.3358 - val_accuracy: 0.4928
Epoch 4/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3927 - accuracy: 0.4656 - val_loss: 1.3221 - val_accuracy: 0.5064
Epoch 5/50
91/91 [==============================] - 0s 4ms/step - loss: 1.3948 - accuracy: 0.4721 - val_loss: 1.3233 - val_accuracy: 0.5112
Epoch 6/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3758 - accuracy: 0.4725 - val_loss: 1.3063 - val_accuracy: 0.5040
Epoch 7/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3597 - accuracy: 0.4825 - val_loss: 1.3045 - val_accuracy: 0.5096
Epoch 8/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3623 - accuracy: 0.4794 - val_loss: 1.3005 - val_accuracy: 0.5144
Epoch 9/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3482 - accuracy: 0.4855 - val_loss: 1.3042 - val_accuracy: 0.5120
Epoch 10/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3430 - accuracy: 0.4831 - val_loss: 1.3067 - val_accuracy: 0.5096
Epoch 11/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3432 - accuracy: 0.4873 - val_loss: 1.3090 - val_accuracy: 0.5072
Epoch 12/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3323 - accuracy: 0.4845 - val_loss: 1.3047 - val_accuracy: 0.5128
Epoch 13/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3276 - accuracy: 0.4897 - val_loss: 1.3073 - val_accuracy: 0.5112
Epoch 14/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3206 - accuracy: 0.4904 - val_loss: 1.3112 - val_accuracy: 0.5016
Epoch 15/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3253 - accuracy: 0.4873 - val_loss: 1.3096 - val_accuracy: 0.5072
Epoch 16/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3181 - accuracy: 0.4897 - val_loss: 1.3112 - val_accuracy: 0.4976
Epoch 17/50
91/91 [==============================] - 0s 4ms/step - loss: 1.3122 - accuracy: 0.4886 - val_loss: 1.3094 - val_accuracy: 0.5080
Epoch 18/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3006 - accuracy: 0.4972 - val_loss: 1.3096 - val_accuracy: 0.5128
Epoch 19/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3071 - accuracy: 0.4959 - val_loss: 1.3112 - val_accuracy: 0.5144
Epoch 20/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3102 - accuracy: 0.4955 - val_loss: 1.3086 - val_accuracy: 0.5136
Epoch 21/50
91/91 [==============================] - 0s 3ms/step - loss: 1.3038 - accuracy: 0.4962 - val_loss: 1.3183 - val_accuracy: 0.5072
Epoch 22/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2932 - accuracy: 0.5024 - val_loss: 1.3178 - val_accuracy: 0.5008
Epoch 23/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2936 - accuracy: 0.5038 - val_loss: 1.3169 - val_accuracy: 0.5136
Epoch 24/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2932 - accuracy: 0.4962 - val_loss: 1.3167 - val_accuracy: 0.4984
Epoch 25/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2839 - accuracy: 0.5014 - val_loss: 1.3220 - val_accuracy: 0.5072
Epoch 26/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2874 - accuracy: 0.5041 - val_loss: 1.3298 - val_accuracy: 0.5056
Epoch 27/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2824 - accuracy: 0.5034 - val_loss: 1.3247 - val_accuracy: 0.5064
Epoch 28/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2802 - accuracy: 0.5058 - val_loss: 1.3402 - val_accuracy: 0.4992
Epoch 29/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2747 - accuracy: 0.5055 - val_loss: 1.3366 - val_accuracy: 0.5056
Epoch 30/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2746 - accuracy: 0.5131 - val_loss: 1.3371 - val_accuracy: 0.5080
Epoch 31/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2742 - accuracy: 0.5100 - val_loss: 1.3450 - val_accuracy: 0.5104
Epoch 32/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2644 - accuracy: 0.5110 - val_loss: 1.3475 - val_accuracy: 0.4976
Epoch 33/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2692 - accuracy: 0.5107 - val_loss: 1.3424 - val_accuracy: 0.5040
Epoch 34/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2698 - accuracy: 0.5034 - val_loss: 1.3430 - val_accuracy: 0.5088
Epoch 35/50
91/91 [==============================] - 0s 4ms/step - loss: 1.2707 - accuracy: 0.5062 - val_loss: 1.3505 - val_accuracy: 0.4992
Epoch 36/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2577 - accuracy: 0.5158 - val_loss: 1.3503 - val_accuracy: 0.5000
Epoch 37/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2582 - accuracy: 0.5089 - val_loss: 1.3537 - val_accuracy: 0.5064
Epoch 38/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2557 - accuracy: 0.5086 - val_loss: 1.3575 - val_accuracy: 0.4992
Epoch 39/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2557 - accuracy: 0.5155 - val_loss: 1.3534 - val_accuracy: 0.4976
Epoch 40/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2461 - accuracy: 0.5182 - val_loss: 1.3680 - val_accuracy: 0.5088
Epoch 41/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2509 - accuracy: 0.5189 - val_loss: 1.3613 - val_accuracy: 0.5024
Epoch 42/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2379 - accuracy: 0.5175 - val_loss: 1.3802 - val_accuracy: 0.4864
Epoch 43/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2504 - accuracy: 0.5155 - val_loss: 1.3800 - val_accuracy: 0.4936
Epoch 44/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2434 - accuracy: 0.5220 - val_loss: 1.3720 - val_accuracy: 0.4944
Epoch 45/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2434 - accuracy: 0.5175 - val_loss: 1.3752 - val_accuracy: 0.4968
Epoch 46/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2504 - accuracy: 0.5103 - val_loss: 1.3898 - val_accuracy: 0.4992
Epoch 47/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2444 - accuracy: 0.5169 - val_loss: 1.3816 - val_accuracy: 0.5008
Epoch 48/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2410 - accuracy: 0.5175 - val_loss: 1.3863 - val_accuracy: 0.4968
Epoch 49/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2400 - accuracy: 0.5268 - val_loss: 1.3857 - val_accuracy: 0.5000
Epoch 50/50
91/91 [==============================] - 0s 3ms/step - loss: 1.2316 - accuracy: 0.5206 - val_loss: 1.3978 - val_accuracy: 0.4984