In [1]:
import numpy as np
import pandas as pd

# Permanent Data Merging - **Do not change**

In [2]:
%%script false --no-raise-error
ds_inital = 'https://github.com/koushal2001/procurement_timeframe/blob/main/studentproject_arde_DATA.xlsx?raw=true'
ds_asl = 'https://github.com/koushal2001/procurement_timeframe/blob/main/ASL_Data_2021-22.xlsx?raw=true'
ds_drdl = 'https://github.com/koushal2001/procurement_timeframe/blob/main/DRDL_Data_2021-22.xlsx?raw=true'
ds_hemrl = 'https://github.com/koushal2001/procurement_timeframe/blob/main/HEMRL_Data_2021-22.xlsx?raw=true'
ds_rci = 'https://github.com/koushal2001/procurement_timeframe/blob/main/RCI_Data_2021-22.xlsx?raw=true'

In [5]:
%%script false --no-raise-error
df_initial = pd.read_excel(ds_inital, sheet_name='Export Worksheet')
df_asl = pd.read_excel(ds_asl, sheet_name='ASL_Data_2021-22')
df_drdl = pd.read_excel(ds_drdl, sheet_name='DRDL_Data_2021-22')
df_hemrl = pd.read_excel(ds_hemrl, sheet_name='HEMRL_Data_2021-22')
df_rci = pd.read_excel(ds_rci, sheet_name='RCI_Data_2021-22')

/usr/local/lib/python3.8/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [34]:
%%script false --no-raise-error
df_asl = df_asl.drop(df_asl.columns.difference(df_initial.columns).to_list(), axis=1)
df_drdl = df_drdl.drop(df_drdl.columns.difference(df_initial.columns).to_list(), axis=1)
df_hemrl = df_hemrl.drop(df_hemrl.columns.difference(df_initial.columns).to_list(), axis=1)
df_rci = df_rci.drop(df_rci.columns.difference(df_initial.columns).to_list(), axis=1)
df = pd.concat([df_initial, df_asl, df_drdl, df_hemrl, df_rci])

In [42]:
%%script false --no-raise-error
df.to_excel('dataset.xlsx', index=False)

# Continued

In [49]:
filepath = 'https://github.com/koushal2001/procurement_timeframe/blob/main/dataset.xlsx?raw=true'
# filepath = '/content/drive/MyDrive/studentproject_arde_DATA.xlsx'
df = pd.read_excel(filepath, sheet_name='Sheet1')
df.head()

,SUPPLY_ORDER_NO,SUPPLY_ORDER_DATE,TOTAL_COST,MODE_OF_TENDER_CODE,MODEOFTENDER,PROCUREMENT_MODE_CODE,PROCUREMENT_MODE_DESC,DEMAND_NO,RFP_NO,FINANCIAL_POWER_CODE,...,BUDGET_HEAD_DESCRIPTION_1,PROCUREMENT_MODE_DESC_1,IS_PAC,CONCURRENCE_BY,CONCURRENCE_DATE_1,CONCURRENCE_AMOUNT,CFA,CFA_APPROVAL_REFERENCE,CFA_APPROVAL_DATE,APPROVAL_AMOUNT
0,22SO0001,2021-04-05 16:20:08,119650.23,lp,Through LPC,SO,Supply orders (SO),21CAN114,21SOL310,202001,...,Project Capital,Supply orders (SO),N,NaN,NaN,NaN,Director of Labs/Estt,21CAN114,2021-03-17 11:50:03,119650
1,22GM0001,2021-04-06 00:00:00,209600.00,GM,Procurement Through GeM,GM,Procurement through GeM,21SME033,NaN,202001,...,Project Revenue,Procurement through GeM,N,NaN,NaN,NaN,Director of Labs/Estt,21SME033,2021-04-06 10:32:02,212478
2,22GM0007,2021-04-06 00:00:00,2100.00,GM,Procurement Through GeM,GM,Procurement through GeM,21INT118,NaN,205013,...,Project Revenue,Procurement through GeM,N,NaN,NaN,NaN,Director of Labs/Estt,21INT118,2021-03-30 11:34:47,2200
3,22GM0008,2021-04-06 00:00:00,26800.00,GM,Procurement Through GeM,GM,Procurement through GeM,21PNS048,NaN,205008,...,Project Revenue,Procurement through GeM,N,IFA,2021-01-13 00:00:00,26800.0,Director of Labs/Estt,21PNS048,2021-04-06 15:25:48,26800
4,22GM0002,2021-04-06 00:00:00,7978.00,GM,Procurement Through GeM,GM,Procurement through GeM,21CAA077,NaN,202002,...,General Revenue,Procurement through GeM,N,NaN,NaN,NaN,Director of Labs/Estt,21CAA077,2021-04-06 11:35:47,7978

In [50]:
cols = df.columns.tolist()
cols

['SUPPLY_ORDER_NO',
 'SUPPLY_ORDER_DATE',
 'TOTAL_COST',
 'MODE_OF_TENDER_CODE',
 'MODEOFTENDER',
 'PROCUREMENT_MODE_CODE',
 'PROCUREMENT_MODE_DESC',
 'DEMAND_NO',
 'RFP_NO',
 'FINANCIAL_POWER_CODE',
 'FINANCIAL_POWER_SERIAL_NO',
 'CFA_CODE',
 'CFA_DESCRIPTION',
 'SANCTION_DATE',
 'CONCURRENCE_LEVEL_CODE',
 'CONCURRED_BY',
 'UO_NO',
 'CONCURRENCE_DATE',
 'GEM_CONTRACT_NO',
 'GEM_CONTRACT_DATE',
 'BUDGET_HEAD_CODE',
 'BUDGET_HEAD_DESCRIPTION',
 'AGAINST_SANCTION_NO',
 'MAJOR_HEAD',
 'SUB_MAJOR_HEAD',
 'MINOR_HEAD',
 'HEAD_CODE',
 'UNITCODE',
 'UNITCODE_DESCRIPTION',
 'RECEIPT_DETAILS',
 'DEMAND_NO_1',
 'DEMAND_DATE',
 'ESTIMATED_COST',
 'DIVISION_NO',
 'DIVISION_NAME',
 'FIN_POWER',
 'FIN_POWER_DEMAND_FS',
 'METHOD_OF_PURCHASE',
 'BUDGET_HEAD_DESCRIPTION_1',
 'PROCUREMENT_MODE_DESC_1',
 'IS_PAC',
 'CONCURRENCE_BY',
 'CONCURRENCE_DATE_1',
 'CONCURRENCE_AMOUNT',
 'CFA',
 'CFA_APPROVAL_REFERENCE',
 'CFA_APPROVAL_DATE',
 'APPROVAL_AMOUNT']

In [53]:
df.isnull().sum()

SUPPLY_ORDER_NO                 0
SUPPLY_ORDER_DATE               0
TOTAL_COST                      0
MODE_OF_TENDER_CODE             0
MODEOFTENDER                    0
PROCUREMENT_MODE_CODE           0
PROCUREMENT_MODE_DESC           0
DEMAND_NO                       0
RFP_NO                       1422
FINANCIAL_POWER_CODE            0
FINANCIAL_POWER_SERIAL_NO       0
CFA_CODE                      100
CFA_DESCRIPTION               100
SANCTION_DATE                 100
CONCURRENCE_LEVEL_CODE       3996
CONCURRED_BY                 3996
UO_NO                        3996
CONCURRENCE_DATE             3996
GEM_CONTRACT_NO              2279
GEM_CONTRACT_DATE            2279
BUDGET_HEAD_CODE                0
BUDGET_HEAD_DESCRIPTION         0
AGAINST_SANCTION_NO          2056
MAJOR_HEAD                      0
SUB_MAJOR_HEAD               4152
MINOR_HEAD                      0
HEAD_CODE                       0
UNITCODE                        0
UNITCODE_DESCRIPTION            0
RECEIPT_DETAILS              4152
DEMAND_NO_1                     0
DEMAND_DATE                     0
ESTIMATED_COST                  0
DIVISION_NO                     0
DIVISION_NAME                   0
FIN_POWER                       4
FIN_POWER_DEMAND_FS          2884
METHOD_OF_PURCHASE              0
BUDGET_HEAD_DESCRIPTION_1       0
PROCUREMENT_MODE_DESC_1         0
IS_PAC                          0
CONCURRENCE_BY               3876
CONCURRENCE_DATE_1           3876
CONCURRENCE_AMOUNT           3876
CFA                             0
CFA_APPROVAL_REFERENCE          0
CFA_APPROVAL_DATE               0
APPROVAL_AMOUNT                 0
dtype: int64

In [58]:
date_cols = ['SUPPLY_ORDER_DATE', 'SANCTION_DATE', 'CONCURRENCE_DATE', 'GEM_CONTRACT_DATE', 'DEMAND_DATE', 'CONCURRENCE_DATE_1', 'CFA_APPROVAL_DATE']
for col in date_cols:
  df[col] = pd.to_datetime(df[col])

In [59]:
df['TOTAL_DAYS'] = (df['SUPPLY_ORDER_DATE'] - df['DEMAND_DATE']).dt.days

In [60]:
df['TOTAL_DAYS']

0        33
1        39
2        19
3        17
4        13
       ...
4147    186
4148    139
4149     98
4150    157
4151    160
Name: TOTAL_DAYS, Length: 4152, dtype: int64

In [61]:
def range_encoding(df, source_col_name, dest_col_name, ranges, encoding):
  ranges_result = []
  for val in df[source_col_name]:
    flag = False
    for i in range(len(encoding) - 1):
      if ranges[i][0] <= val <= ranges[i][1]:
        ranges_result.append(encoding[i])
        flag = True
        break
    if not flag:
      ranges_result.append(encoding[len(encoding) - 1])

  df[dest_col_name] = ranges_result
  return df

In [62]:
df['ESTIMATED_COST']

0       119650
1       212478
2         2200
3        26800
4         7978
         ...
4147    799998
4148    142480
4149    497252
4150     61999
4151     68500
Name: ESTIMATED_COST, Length: 4152, dtype: int64

In [63]:
day_ranges = [(0, 60), (61, 90), (91, 120), (121, 150), (151, 180)]
day_ranges_encoding = ['0 - 60', '60 - 90', '90 - 120', '120 - 150', '150 - 180', '> 180']

df = range_encoding(df, 'TOTAL_DAYS', 'TOTAL_DAYS_RANGES', day_ranges, day_ranges_encoding)

In [64]:
cost_ranges = [(0, 1000000), (1000001, 2500000), (2500001, 5000000), (5000001, 10000000), (10000001, 50000000), (50000001, 100000000)]
cost_ranges_endcoding = ['0 - 10L', '10L - 25L', '25L - 50L', '50L - 1CR', '1CR - 5CR', '5CR - 10CR', '> 10CR']

df = range_encoding(df, 'ESTIMATED_COST', 'EST_COST_RANGE', cost_ranges, cost_ranges_endcoding)

In [65]:
print(df.TOTAL_DAYS_RANGES.value_counts())

0 - 60       1703
60 - 90       797
90 - 120      528
> 180         469
120 - 150     397
150 - 180     258
Name: TOTAL_DAYS_RANGES, dtype: int64

In [66]:
print(df.EST_COST_RANGE.value_counts())

0 - 10L       3579
25L - 50L      198
10L - 25L      185
50L - 1CR       86
1CR - 5CR       79
> 10CR          13
5CR - 10CR      12
Name: EST_COST_RANGE, dtype: int64

In [67]:
df['EST_COST_RANGE'].tail(15)

4137    25L - 50L
4138      0 - 10L
4139      0 - 10L
4140      0 - 10L
4141      0 - 10L
4142      0 - 10L
4143      0 - 10L
4144      0 - 10L
4145      0 - 10L
4146    10L - 25L
4147      0 - 10L
4148      0 - 10L
4149      0 - 10L
4150      0 - 10L
4151      0 - 10L
Name: EST_COST_RANGE, dtype: object

In [68]:
df = df.replace({'IS_PAC': {'N': False, 'Y': True}})

In [69]:
df = df.replace({'CONCURRENCE_BY': {np.nan: None}})

In [ ]:
# required_cols = ["ESTIMATED_COST", "EST_COST_RANGE", "MODEOFTENDER", "METHOD_OF_PURCHASE", "FINANCIAL_POWER_CODE", "CFA_CODE", "CONCURRENCE_BY", "BUDGET_HEAD_CODE", "IS_PAC", "TOTAL_DAYS_RANGES"]
required_cols = ["EST_COST_RANGE", "MODEOFTENDER", "METHOD_OF_PURCHASE", "FINANCIAL_POWER_CODE", "CFA_CODE", "CONCURRENCE_BY", "BUDGET_HEAD_CODE", "IS_PAC", "TOTAL_DAYS_RANGES"]

In [ ]:
new_df = df[required_cols]

In [ ]:
new_df

,EST_COST_RANGE,MODEOFTENDER,METHOD_OF_PURCHASE,FINANCIAL_POWER_CODE,CFA_CODE,CONCURRENCE_BY,BUDGET_HEAD_CODE,IS_PAC,TOTAL_DAYS_RANGES
0,0 - 10L,Through LPC,Through LPC,202001,DIR,None,PC,False,0 - 60
1,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,DIR,None,PR,False,0 - 60
2,0 - 10L,Procurement Through GeM,Procurement Through GeM,205013,DIR,None,PR,False,0 - 60
3,0 - 10L,Procurement Through GeM,Procurement Through GeM,205008,DIR,IFA,PR,False,0 - 60
4,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,0 - 60
...,...,...,...,...,...,...,...,...,...
1169,0 - 10L,Procurement Through GeM,Procurement Through GeM,205015,DIR,None,SP,False,0 - 60
1170,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,150 - 180
1171,0 - 10L,Procurement Through GeM,Procurement Through GeM,205008,DIR,IFA,PC,False,0 - 60
1172,0 - 10L,Procurement Through GeM,Procurement Through GeM,205015,DIR,IFA,PC,False,0 - 60
1173,0 - 10L,Procurement Through GeM,Procurement Through GeM,205015,DIR,None,SP,False,0 - 60

In [ ]:
# temp = pd.get_dummies(new_df)

In [ ]:
new_df = temp

In [ ]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=c60374205ac9e156dc9a020c4da300aba03e69971fb861d6a11190a46b03e345
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
from apyori import apriori

In [ ]:
new_df1 = []
for index, row in new_df.iterrows():
  if row['TOTAL_DAYS_RANGES'] == '120 - 150' or row['TOTAL_DAYS_RANGES'] == '150 - 180' or row['TOTAL_DAYS_RANGES'] == '> 180':
    new_df1.append(row)
new_df1 = pd.DataFrame(new_df1)
new_df1

,EST_COST_RANGE,MODEOFTENDER,METHOD_OF_PURCHASE,FINANCIAL_POWER_CODE,CFA_CODE,CONCURRENCE_BY,BUDGET_HEAD_CODE,IS_PAC,TOTAL_DAYS_RANGES
35,0 - 10L,Limited,Limited,202014,DIR,None,GN,False,120 - 150
38,10L - 25L,Procurement Through GeM,Procurement Through GeM,205003,DIR,IFA,MS,False,150 - 180
42,10L - 25L,Procurement Through GeM,Procurement Through GeM,202001,DIR,None,PC,False,120 - 150
50,0 - 10L,Single Tender,Single Tender,202016,DIR,None,GN,False,> 180
53,25L - 50L,Open,Open,202004,DIR,None,PR,False,150 - 180
...,...,...,...,...,...,...,...,...,...
1160,1CR - 5CR,Limited,Limited,202008,DIR,IFA,PR,False,> 180
1161,1CR - 5CR,Limited,Limited,202008,DIR,IFA,PR,False,> 180
1165,> 10CR,Open,Open,202005,DGC,IFA,PC,False,> 180
1166,0 - 10L,Procurement Through GeM,Procurement Through GeM,202001,DIR,None,PC,False,120 - 150
1170,0 - 10L,Procurement Through GeM,Procurement Through GeM,202002,DIR,None,GN,False,150 - 180

In [ ]:
new_df_1_temp = pd.get_dummies(new_df1)
new_df_1_temp

,FINANCIAL_POWER_CODE,IS_PAC,EST_COST_RANGE_0 - 10L,EST_COST_RANGE_10L - 25L,EST_COST_RANGE_1CR - 5CR,EST_COST_RANGE_25L - 50L,EST_COST_RANGE_50L - 1CR,EST_COST_RANGE_5CR - 10CR,EST_COST_RANGE_> 10CR,MODEOFTENDER_Limited,...,BUDGET_HEAD_CODE_AF,BUDGET_HEAD_CODE_GC,BUDGET_HEAD_CODE_GN,BUDGET_HEAD_CODE_MS,BUDGET_HEAD_CODE_PC,BUDGET_HEAD_CODE_PR,BUDGET_HEAD_CODE_RD,TOTAL_DAYS_RANGES_120 - 150,TOTAL_DAYS_RANGES_150 - 180,TOTAL_DAYS_RANGES_> 180
35,202014,False,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
38,205003,False,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
42,202001,False,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
50,202016,False,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
53,202004,False,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,202008,False,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
1161,202008,False,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
1165,202005,False,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1166,202001,False,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
1170,202002,False,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# 0.1,0.6,2,2
records = []
for i in range(0, 114):
    records.append([str(new_df1.values[i,u]) for u in range(0, 9)])

rules = apriori(records, min_support=0.14, min_confidence=0.70, min_lift=3, min_length = 5)

for i in rules:
  print(i)

results = list(rules)

# for i in range(len(results)):
#   y = frozenset(results[i][0].items())
#   x = dict(y)
#   print(x)

results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
print(len(results_list))
for r in results_list:
  print(r)

# records = []
# for i in range(0, 114):
#     records.append([str(new_df_1_temp.values[i,u]) for u in range(0, 34)])

# rules = apriori(records, min_support=0.014, min_confidence=0.07, min_lift=3, min_length = 2)

# results = list(rules)

# results_list = []
# for i in range(0, len(results)):
#     results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
# print(len(results_list))
# for r in results_list:
#   print(r)

RelationRecord(items=frozenset({'Limited', '202008'}), support=0.20175438596491227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008'}), items_add=frozenset({'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714)])
RelationRecord(items=frozenset({'DIR', 'Limited', '202008'}), support=0.20175438596491227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008'}), items_add=frozenset({'DIR', 'Limited'}), confidence=0.9583333333333334, lift=3.213235294117647), OrderedStatistic(items_base=frozenset({'DIR', '202008'}), items_add=frozenset({'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714)])
RelationRecord(items=frozenset({'False', '202008', 'Limited'}), support=0.20175438596491227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008'}), items_add=frozenset({'False', 'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714), OrderedStatistic(items_base=frozenset({'False', '202008'}), items_add=frozenset({'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714)])
RelationRecord(items=frozenset({'Limited', '202008', 'None'}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008', 'None'}), items_add=frozenset({'Limited'}), confidence=1.0, lift=3.257142857142857)])
RelationRecord(items=frozenset({'DIR', 'False', '202008', 'Limited'}), support=0.20175438596491227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008'}), items_add=frozenset({'DIR', 'False', 'Limited'}), confidence=0.9583333333333334, lift=3.213235294117647), OrderedStatistic(items_base=frozenset({'DIR', '202008'}), items_add=frozenset({'False', 'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714), OrderedStatistic(items_base=frozenset({'False', '202008'}), items_add=frozenset({'DIR', 'Limited'}), confidence=0.9583333333333334, lift=3.213235294117647), OrderedStatistic(items_base=frozenset({'DIR', 'False', '202008'}), items_add=frozenset({'Limited'}), confidence=0.9583333333333334, lift=3.1214285714285714)])
RelationRecord(items=frozenset({'DIR', 'Limited', '202008', 'None'}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008', 'None'}), items_add=frozenset({'DIR', 'Limited'}), confidence=1.0, lift=3.3529411764705883), OrderedStatistic(items_base=frozenset({'DIR', '202008', 'None'}), items_add=frozenset({'Limited'}), confidence=1.0, lift=3.257142857142857)])
RelationRecord(items=frozenset({'False', '202008', 'None', 'Limited'}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008', 'None'}), items_add=frozenset({'False', 'Limited'}), confidence=1.0, lift=3.257142857142857), OrderedStatistic(items_base=frozenset({'False', '202008', 'None'}), items_add=frozenset({'Limited'}), confidence=1.0, lift=3.257142857142857)])
RelationRecord(items=frozenset({'DIR', '202008', 'None', 'False', 'Limited'}), support=0.15789473684210525, ordered_statistics=[OrderedStatistic(items_base=frozenset({'202008', 'None'}), items_add=frozenset({'DIR', 'False', 'Limited'}), confidence=1.0, lift=3.3529411764705883), OrderedStatistic(items_base=frozenset({'DIR', '202008', 'None'}), items_add=frozenset({'False', 'Limited'}), confidence=1.0, lift=3.257142857142857), OrderedStatistic(items_base=frozenset({'False', '202008', 'None'}), items_add=frozenset({'DIR', 'Limited'}), confidence=1.0, lift=3.3529411764705883), OrderedStatistic(items_base=frozenset({'DIR', 'False', '202008', 'None'}), items_add=frozenset({'Limited'}), confidence=1.0, lift=3.257142857142857)])
0

In [ ]:
records = []
for i in range(0, 1174):
    records.append([str(new_df.values[i,u]) for u in range(0, 9)])

rules = apriori(records, min_support=0.14, min_confidence=0.70, min_lift=3, min_length = 5)

results = list(rules)

results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:\t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))
print(len(results_list))

# for item in results_list:

#     # first index of the inner list
#     # Contains base item and add item
#     pair = item[0] 
#     items = [x for x in pair]
#     print("Rule: " + items[0] + " -> " + items[1])

#     #second index of the inner list
#     print("Support: " + str(item[1]))

#     #third index of the list located at 0th
#     #of the third index of the inner list

#     print("Confidence: " + str(item[2][0][2]))
#     print("Lift: " + str(item[2][0][3]))
#     print("=====================================")
results_list

0

[]

In [ ]:
temp = df.loc[df['TOTAL_DAYS_RANGES'] == '150 - 180']
temp

,SUPPLY_ORDER_NO,SUPPLY_ORDER_DATE,TOTAL_COST,MODE_OF_TENDER_CODE,MODEOFTENDER,PROCUREMENT_MODE_CODE,PROCUREMENT_MODE_DESC,DEMAND_NO,RFP_NO,FINANCIAL_POWER_CODE,...,CONCURRENCE_BY,CONCURRENCE_DATE_1,CONCURRENCE_AMOUNT,CFA,CFA_APPROVAL_REFERENCE,CFA_APPROVAL_DATE,APPROVAL_AMOUNT,TOTAL_DAYS,TOTAL_DAYS_RANGES,EST_COST_RANGE
38,22GM0028,2021-04-28 11:46:41,2971796.28,GM,Procurement Through GeM,GM,Procurement through GeM,21SCY026,22GMT008,205003,...,IFA,2021-04-15 00:00:00,2448143.0,Director of Labs/Estt,21SCY026,2021-04-27 12:53:51,2448143,154,150 - 180,10L - 25L
53,22FC0003,2021-05-03 16:14:01,3496500.00,op,Open,FC,Fabrication Order,21WHP046,21FCT058,202004,...,None,NaT,NaN,Director of Labs/Estt,21WHP046,2020-12-15 00:00:00,4725000,158,150 - 180,25L - 50L
99,22AT0011,2021-05-21 16:09:33,8783250.00,lm,Limited,AT,Supply Order (AT),21CAN052,21ATT101,202008,...,None,NaT,NaN,Director of Labs/Estt,21CAN052,2021-01-20 10:39:16,9481500,170,150 - 180,50L - 1CR
114,22AM0003,2021-05-31 14:26:06,130980.00,st,Single Tender,AM,Annual Maint.cont,21TCD015,21AMT021,202016,...,None,NaT,NaN,Director of Labs/Estt,21TCD015,2021-01-20 10:36:15,130980,172,150 - 180,0 - 10L
127,22GM0064,2021-06-02 00:00:00,217500.00,GM,Procurement Through GeM,GM,Procurement through GeM,21PMU088,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,21PMU088,2021-03-02 16:17:32,194765,180,150 - 180,0 - 10L
226,22AT0026,2021-06-29 10:22:12,66074052.00,lm,Limited,AT,Supply Order (AT),21SCY030,22ATT003,205003,...,IFA,2021-04-16 12:05:21,68526787.0,DG Cluster,21SCY030,2021-04-16 14:45:02,68526787,159,150 - 180,5CR - 10CR
231,22SO0067,2021-06-30 14:33:44,227850.00,lp,Through LPC,SO,Supply orders (SO),21CAL030,22SOL056,202014,...,None,NaT,NaN,Director of Labs/Estt,21CAL030,2021-06-04 12:00:25,227850,159,150 - 180,0 - 10L
235,22AT0028,2021-06-30 14:49:24,4656201.58,op,Open,AT,Supply Order (AT),21TED074,21ATT135,202012,...,None,NaT,NaN,Director of Labs/Estt,21TED074,2021-03-18 18:37:24,4577413,168,150 - 180,25L - 50L
254,22DC0004,2021-07-05 11:13:11,3687137.00,lm,Limited,DC,Development contract,21ANC061,21DCT028,202008,...,None,NaT,NaN,Director of Labs/Estt,21ANC061,2021-02-08 14:57:25,6165000,156,150 - 180,50L - 1CR
255,22AT0030,2021-07-05 12:03:18,3204106.11,st,Single Tender,AT,Supply Order (AT),21CAA055,21ATT126,202001,...,None,NaT,NaN,Director of Labs/Estt,21CAA055,2021-02-01 16:37:00,3000000,172,150 - 180,25L - 50L
361,22GM0181,2021-07-29 00:00:00,280000.00,GM,Procurement Through GeM,GM,Procurement through GeM,21CNS015,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,21CNS015,2021-02-18 17:30:38,288246,175,150 - 180,0 - 10L
507,22FC0030,2021-09-16 16:26:09,1831200.00,lm,Limited,FC,Fabrication Order,22CAA005,22FCT012,202001,...,None,NaT,NaN,Director of Labs/Estt,22CAA005,2021-06-01 14:31:00,1936200,153,150 - 180,10L - 25L
514,22FC0032,2021-09-20 12:09:42,1648500.00,lm,Limited,FC,Fabrication Order,22CAA006,22FCT013,202008,...,None,NaT,NaN,Director of Labs/Estt,22CAA006,2021-06-01 14:28:05,2364600,156,150 - 180,10L - 25L
539,22AT0048,2021-09-24 14:49:13,642600.00,lm,Limited,AT,Supply Order (AT),22TED001,22ATT037,202002,...,None,NaT,NaN,Director of Labs/Estt,22TED001,2021-05-19 15:58:55,711186,160,150 - 180,0 - 10L
615,22AT0056,2021-10-25 10:46:38,643576.50,lm,Limited,AT,Supply Order (AT),22CAN013,22ATT048,202008,...,None,NaT,NaN,Director of Labs/Estt,22CAN013,2021-07-22 16:35:26,973500,165,150 - 180,0 - 10L
672,22AT0057,2021-11-09 15:00:56,4410000.00,lm,Limited,AT,Supply Order (AT),22FZS011,22ATT033,202008,...,None,NaT,NaN,Director of Labs/Estt,22FZS011,2021-07-20 11:09:11,5546000,161,150 - 180,50L - 1CR
689,22AT0058,2021-11-12 16:03:27,874125.00,lm,Limited,AT,Supply Order (AT),22PZT003,22ATT055,202008,...,None,NaT,NaN,Director of Labs/Estt,22PZT003,2021-06-22 15:04:15,983241,179,150 - 180,0 - 10L
815,22SO0283,2021-12-22 10:21:38,604947.00,op,Open,SO,Supply orders (SO),22ICV020,22SOT215,202004,...,None,NaT,NaN,Director of Labs/Estt,22ICV020,2021-09-23 16:51:23,952850,152,150 - 180,0 - 10L
852,22GM0395,2022-01-07 00:00:00,94636.00,GM,Procurement Through GeM,GM,Procurement through GeM,22QAS004,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,22QAS004,2021-09-08 12:27:48,66000,153,150 - 180,0 - 10L
854,22GM0396,2022-01-07 12:04:42,2191826.00,GM,Procurement Through GeM,GM,Procurement through GeM,22QAS003,22GMT080,202012,...,None,NaT,NaN,Director of Labs/Estt,22QAS003,2021-09-08 12:56:30,1593000,177,150 - 180,10L - 25L
864,22GM0403,2022-01-13 00:00:00,5491840.00,GM,Procurement Through GeM,GM,Procurement through GeM,22FIR007,22GMT082,205003,...,IFA,2022-01-13 11:23:29,5310384.0,Director of Labs/Estt,22FIR007,2022-01-13 11:20:33,5310384,173,150 - 180,1CR - 5CR
932,22FC0054,2022-02-07 10:49:46,525000.00,op,Open,FC,Fabrication Order,22BMF015,22FCT039,202004,...,None,NaT,NaN,Director of Labs/Estt,22BMF015,2021-09-01 12:14:52,2006000,180,150 - 180,10L - 25L
1170,22GM0545,2022-03-31 00:00:00,90680.00,GM,Procurement Through GeM,GM,Procurement through GeM,22BLS004,NaN,202002,...,None,NaT,NaN,Director of Labs/Estt,22BLS004,2022-01-04 16:37:04,90771,152,150 - 180,0 - 10L